* {
    font-family: arial;
}
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display:flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul, nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul {
    display: flex;
}
nav a {
    display:block;
    padding:15px;
    text-decoration:none;     /* serve para tirar efeitos do texto */
    text-transform:uppercase; /* serve para deixar todas as letras em maiuscula */
    color: #727272;
}
nav .active a, 
nav a:hover {
    /* hover serve para aplicar efeito quando passa o mause*/
    background-color:#39aae1;
}
#banner{
    display:flex ;
    justify-content: center;
    background-image:url('../image/img1.jpg');
    background-position:center;
    background-size:cover; /* background-size:cover serve para a imagem preencher toda a area, ajusta a imagem o mais largamente possivel */
    height: 670px;
}
.column {
    flex-direction: column;
}

.banner_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}
.banner_headline h1 {
    color:#ffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2 {
    color:#ffffff;
    font-size: 22px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top:30px;
}
.banner_options {
    height: 210px;
    display: flex;
    color:#ffffff
}
.banner1,
.banner2,
.banner3 {
    flex:1;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2 {
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
}
.banner_title {
    font-size:21px;
}
.banner_desc {
    font-size: 14px;
    margin-top:20px;
    margin-bottom: 20px;
}
.banner_options a {
    display:inline-block;
    border:1px solid #ffffff;
    padding: 5px;
    color:#ffffff;
    font-size: 13px;
    text-decoration: none;
}
.semana,
.sabado,
.domingo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:thin solid rgba(170, 170, 170, 0.925)
}

.widget_body h1 {
    font-size: 15px;
    list-style: none;
    margin:0;
    padding:0;
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_bar_line {
    width: 350px;
    height: 1px; 
    background-color: grey;
    margin-top: 10px; 
}
.widget_body .by_phone, .by_email, .by_fill {
    display: flex;
    justify-content: flex-start;
}
.widget_body .icon {
    height: 30px;
    width: 30px;
    background-color: grey;
    margin-top: 15px;
    margin-bottom: 15px;
}
.widget_body .widget_text {
    font-size: 15px;
    margin-top: 15px;
    margin-left: 10px;
}
/*------------------------------------------*/
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex:2;
}
#geral aside{
    flex:1;
}

.widget_title {
    margin-top:30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color:black;
    font-size:21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
}
.flex {
    display:flex;
    flex-wrap:wrap ;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;
    padding:10px;
    margin-right: 2px;
}
article .news_comments {
    background-color: #39aae1;
    color:#ffffff;
    font-size:12px;
    padding: 10px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000000;
}
article .news_resume {
    color:#5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.departamentos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 570px;
    flex-wrap: wrap;
}
.departamentos div {
    width: 152px;
    height: 152px;
    background-color: #36a9e1 ;
    padding-bottom: 5px;
 }

 footer{
    display:flex;
    background-color: #1e1e1e;
    justify-content: center;
 }
 .footer_menu {
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color:#ffffff;
    padding: 20px;
}

.fm_1 {
    background-color: #39aae1;
}
.fm_2 {
    background-color: #0079c7;
}
.fm_3 {
    background-color: #2b4c99;
}
.flexcolumn {
    flex-direction: column;
}
.footer_area {
    display: flex;
}
.footer_areaitem {
    flex:1;  
    color:#ffffff;
}
footer .widget_title_text{
    color:#ffffff;
}
.footer_copy {
    border-top:1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color:#5c5c5c;
    font-size: 12px;
    margin-top:30px;
}
.footer_title {
    font-size: 21px;
}
.footer_desc {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text_1 {
    color:#5c5c5c;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.linha_1, .linha_2, .linha_3, .linha_4{
    color:#5c5c5c;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:4px;
    margin-right: 10px;
}
.email {
    color:#ffffff;
    text-decoration: none;

}
.linha_2, .linha_3 {
    margin-right:70px;
}
.posts_data {
    color:#36a9e1;
    font-size:12px;
    padding-bottom: 20px;
}
.posts_1, .posts_2, .posts_3 {
     font-size:13px ;
    padding-right: 12px;
}
.tweets_1, .tweets_2, .tweets_3 {
    color:#5c5c5c;
    font-size: 13px;
}
.redes_sociais {
    display: flex;
}

.redes_sociais div {
    height: 40px;
    width: 40px;
    background-color: grey;
    margin-top: 40px;
    margin-right: 15px;
}

.redes_sociais a {
    display:block;
    text-decoration: none;
    height: 40px;
}
.redes_sociais img {
    height: 40px;
    width: 40px;
}
.menumobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #39aae1;
}




@media only screen and (max-width:1000px){
    #banner{
        display:flex ;
        justify-content: center;
        background-image:url('../image/img1.jpg');
        background-position:center;
        background-size:cover; /* background-size:cover serve para a imagem preencher toda a area, ajusta a imagem o mais largamente possivel */
        height: 540px;
    }
   
@media only screen and (max-width:670px){
    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size:55px;
    }
    .banner_headline h2 {
        font-size: 15px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
        
    }
    .container {
        flex-direction: column;
    }
    #geral section,
    #geral aside {
        padding: 20px;
    }
    #banner {
        height: auto;
    }
    .widget {
        margin-top:0;
    }
    .departamentos {
        height: 360px;
    }
    .widget .widget_body {
        padding-left: 18px;
    }

    .footer_menu {
        flex-direction: column;

    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .article .news_thumbnail {
        margin-top: 15px;
    }
    .footer_copy {
        padding-left: 20px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left:0;
        width: 100%;
        background-color: #ffffff;
    }
    header {
        height: auto;
    }
    .logo {
        padding: 20px;
    }
    .menumobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }  
    .departamentos {
        flex-direction: row;
        height: auto;
        
    }
    .departamentos div {
        margin: 10px;
    }
    .widget_title_text{
        padding-left: 20px;
    }
    .widget_title_bar {
        margin-left: 20px;
    }
    #banner {
        height: 300px;
        margin-bottom: 480px;


    
    
        
    }
   
}
